.AnalyticPauseCount {
    width: 420px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 24px;
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 244 / var(--tw-bg-opacity));
}