@import 'reset.scss';
@import 'variables/global.scss';
@import 'themes/normal.scss';
@import 'themes/dark.scss';



.app {
    background: var(--bg-color);
    font: var(--font-m);
    color: var(--primary-color);
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}