:root {
    --font-family-main: 'Nunito Sans', sans-serif;
    --font-family-secondary: 'SF UI Display', serif;



    --big-font-size: 150px;
    --big-font-line: 160px;

    --container: 1440px;

    --font-big: var(--big-font-size) / var(--big-font-line) var(--font-family-secondary);

    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
}