.AnalyticWeekAndTime {
    display: flex;
    width: 296px;
    height: 260px;
    flex-direction: column;
    gap: 1rem;
    padding: 24px;
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 244 / var(--tw-bg-opacity));
}