.timerHeader {
    display: flex;
    color: var(--text-color-primary);
    padding: 19px 40px;
    background-color: var(--bg-color2);
    justify-content: space-between;
    margin-bottom: 70px;
}

.timerBlock {
    display: flex;
    justify-content: center;

    .timer {
        font: var(--font-big);
        display: flex;
        font-weight: 200;
    }

    .timerActive {
        color: var(--secondary-color);
    }
}

.taskTimer {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.btnTimerAction {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 107px;
}

.iconBtnActionAddTime {
    position: absolute;
    top: 49px;
    right: -67px;
}

.timerContent {
    position: relative;
}

.timerButtonStart,
.timerButtonPaused {
    background: var(--btn-color-primary);
    padding: 15px 50px;
    color: var(--text-color-primary);
    border: none;
}

.timerButtonStopUnactive {
    padding: 15px 50px;
    border: 1px solid var(--bg-color2);
    color: var(--bg-color2);
    background: none;
}

.timerButtonStopActive {
    padding: 15px 50px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background: none;

    &:hover {
        background: var(--secondary-color);
        color: var(--text-color-primary)
    }
}

.timerHeaderWork {
    background-color: var(--secondary-color);
    color: var(--text-color-primary);
}

.timerHeaderBreak,
.timerHeaderLongBreak {
    background-color: var(--bg-color3);
    color: var(--text-color-primary);
}

.timerWork {
    color: var(--secondary-color);
}

.timerBreak,
.timerLongBreak {
    color: var(--bg-color3);
}