.Button {
    cursor: pointer;
}

.primary {
    background: var(--btn-color-primary);
    padding: 15px 50px;
    color: var(--text-color-primary);
    border: none;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 15px 50px;
    border: 1px solid var(--bg-color2);
    color: var(--bg-color2);
    background: none;
}