.Button {
    cursor: pointer;
}

.primary {
    background: var(--green);
    padding: 15px 50px;
    color: var(--white);
    border: none;
    border-radius: 5px;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 10px 15px;
    border: 1px solid var(--orange);
    color: var(--orange);
    background: none;
    border-radius: 5px;
}