.Dropdown {
    position: relative
}

.btn {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.menu {
    background-color: var(--bg-color);
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 15px 21px;
    width: 180px;

    .item {
        padding-bottom: 5px;
        padding-top: 5px;
        width: 100%;
        border: none;
        outline: none;
        color: var(--primary-color);
        cursor: pointer;
        background: none;
        text-align: left;
    }
}

.active {
    background-color: var(--inverted-primary-color);
}