.app.dark {
    --coral: #282c34;
    --white: #FFFFFF;
    --green: #899441;
    --orange: #DC3E22;

    --orange-light: var(#EE735D);
    --orange-lightness: var(#EA8979);
    --green-light: #A8B64F;

    --bg-color: var(--coral);

    --action-btn-1: var(--green-light);
    --action-btn-1--hover: var(--green);

    --action-btn-2: var(--white);
    --action-btn-2--hover: var(--orange);
}