:root {
    --text-color-primary: white;
    --text-color-secondary: #333333;
    --text-color-input: #999999;

    --border-color: #E4E4E4;

    --bg-color: white;

    --bg-color2: #C4C4C4;

    --primary-color: #333333;
    --inverted-primary-color: #DBDBDB;

    --secondary-color: #DC3E22;
    --secondary-color-hover: #B7280F;

    --secondary2-color: #F4F4F4;

    --btn-color-primary: #A8B64F;
}