:root {
    --text-color-primary: white;
    --text-color-secondary: #333333;
    --bg-color: white;
    --primary-color: #333333;
    --inverted-primary-color: #DBDBDB;
    --secondary-color: #DC3E22;
    --secondary-color-hover: #B7280F;

    --btn-color-primary: #A8B64F;
}