.Header {
    display: flex;
    box-shadow: 0px 10px 63px 0px rgba(0, 0, 0, 0.07);
    margin-bottom: 100px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;



    .links {
        display: flex;
        align-items: center;
        gap: 20px;

        .link {
            display: flex;
            align-items: center;
            gap: 5px;
            text-decoration: none;


            span {
                display: flex;
                align-items: center;
                color: var(--orange);
            }
        }
    }
}