.AnalyticTomatoCounter {
    display: flex;
    flex-direction: column;
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 244 / var(--tw-bg-opacity));
    height: 186px;
    justify-content: center;
}



.pomidor {
    width: 100%;
    display: flex;
    justify-content: center;
}