.section__app {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .leftContent {
        grid-column: 1;
    }

    .rightContent {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        background-color: var(--secondary2-color);
    }
}

.todosContainer {
    max-width: 370px;
}

.timerHeader {
    display: flex;
    color: var(--text-color-primary);
    padding: 19px 40px;
    background-color: var(--bg-color2);
    justify-content: space-between;
    margin-bottom: 70px;
}

.timerBlock {
    display: flex;
    justify-content: center;

    .timer {
        font: var(--font-big);
        display: flex;
        font-family: 'SF UI Display';
        font-weight: 200;
    }
}

.iconBtnActionAddTime {
    position: absolute;
    top: 49px;
    right: -67px;
}

.timerContent {
    position: relative;
}

.taskTimer {
    display: flex;
    justify-content: center;
}

.btnTimerAction {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 107px;
}