.section__app {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .leftContent {
        grid-column: 1;

        .task__descr {
            margin-bottom: 25px;

            h2 {
                margin-bottom: 5px;
            }
        }
    }

    .rightContent {
        grid-column: 2;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        background-color: var(--secondary2-color);
    }
}

.todoForm {
    margin-bottom: 25px;
}

.todoList {
    margin-bottom: 20px;
}

.todosContainer {
    max-width: 370px;

    span {
        color: var(--text-color-input);
    }
}

.timerHeader {
    display: flex;
    color: var(--text-color-primary);
    padding: 19px 40px;
    background-color: var(--bg-color2);
    justify-content: space-between;
    margin-bottom: 70px;
}

.timerHeaderActiver {
    background-color: var(--secondary-color);
    color: var(--text-color-primary);
}

.timerBlock {
    display: flex;
    justify-content: center;

    .timer {
        font: var(--font-big);
        display: flex;
        font-family: 'SF UI Display';
        font-weight: 200;
    }

    .timerActive {
        color: var(--secondary-color);
    }
}

.timerButtonStart {
    background: var(--btn-color-primary);
    padding: 15px 50px;
    color: var(--text-color-primary);
    border: none;
}

.timerButtonStopUnactive {
    padding: 15px 50px;
    border: 1px solid var(--bg-color2);
    color: var(--bg-color2);
    background: none;
}

.timerButtonStopActive {
    padding: 15px 50px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background: none;
}

.iconBtnActionAddTime {
    position: absolute;
    top: 49px;
    right: -67px;
}

.timerContent {
    position: relative;
}

.taskTimer {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.btnTimerAction {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 107px;
}

.initial {
    color: white;
}