.TodoItem {
    display: flex;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
}


.circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: var(--bg-color);
    color: var(--text-color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid var(--bg-color2);
}

.contentTodo {
    display: flex;
    gap: 10px;
}